.logo {
  transform: scale(2);
}

.footerCustomerContainer, .footerConnectContainer, .footerAboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerCustomerContainer ul, .footerConnectContainer ul, .footerAboutUsContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footerCustomerContainer li, .footerConnectContainer li, .footerAboutUsContainer li  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transition: transform 0.15s ease;
}

.footerCustomerContainer li:hover, .footerConnectContainer li:hover, .footerAboutUsContainer li:hover  {
  transform: scale(1.25);
}
