.cart {
  transform: scale(2);
  transition: transform 0.15s ease;
}

.cart:hover,
.cart:active,
.cart.active {
  color: white;
  cursor: pointer;
  transform: scale(2.5);
}



.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}



.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007736;
  padding: 0 10%;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}
.header li {
  margin-left: 3rem;
}

.header a, .navigation a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #002200;
  transition: color 0.15s ease;
}

.header input {
  width: 500px;
  height: 2rem;
}

.header button {
  width: 10%;
  height: 2rem;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}



.navigation {
  width: 100%;
  padding: 0% 10%;
  background-color: #205f3c;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
}

.navigation li {
  margin: 0.5rem;
}

.navigation a:hover,
.navigation a:active,
.navigation a.active {
  color: white;
}