.card {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  padding: 1rem;
  width: 400px;
  transition: background-color 0.15s ease, transform 0.15s ease;
}

.card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .brand{
  color: rgb(36, 77, 36);
  font-weight: bold;
  margin-top: 1rem;
}

.card:hover,
.card:focus,
.card:active {
  background-color: rgb(243, 243, 243);
  transform: scale(1.1);
}