.card {
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  padding: 1rem;
  width: 400px;
}

.card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
