.card {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 1rem;
}

.totalPriceContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* align-items: baseline; */
  margin-top: auto;
}

.productInfo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.productName {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.productBrand {
  color: rgb(36, 77, 36);
  font-weight: bold;
  margin: 0 1rem 0 0;
}

.productQuantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.description{
  width: 50rem;
}