.card {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 1rem;
}

.priceContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.priceContainer > span {
  margin: 0.5rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 30vw;
}

.productName {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}


.productQuantity {
  display: flex;
  flex-direction: row;
}

.productQuantity > span{
  margin: 0.5rem;
}

.remove {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: color 0.15s ease, transform 0.15s ease;
}

.remove:hover {
  color: #f02d34;
}

.productBrand {
  color: rgb(36, 77, 36);
  font-weight: bold;
  margin: 0 1rem 0 0;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}


.minus {
  border-right: 1px solid gray;
  color: #f02d34;
  border: 1px solid gray;
  padding: 6px;
}

.plus {
  color: rgb(49, 168, 49);
  border: 1px solid gray;
  padding: 6px;
}

.num{
  border-right: 1px solid gray;
  font-size: 20px;
  pointer-events: none;
}

.priceTotal {
  margin: 1rem;
  font-weight: bold;
}