.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 0 4rem 0 4rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
