.main {
  min-height: 100vh;
  padding: 0 4rem 4rem 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.productImagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.smallImagesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.smallImagesContainer img{
  width: 70px;
  height: 70px;
  border-radius: 8px;
  background-color: #ebebeb;

  overflow: hidden;
  overflow-x: scroll;
  cursor: pointer;
  object-fit: scale-down;
}

.productDetailsContainer {
  display: flex;
  flex-direction: column;
}
.productDetailsContainer h4 {
  color: #cfcfcf;
  margin: 0;
}

.productDetailsContainer h3 {
  margin-top: 0.5rem;
}

.productDetailsContainer h2 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.productDescriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.recommendationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* .marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.maylike-products-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}
.track:hover {
  animation-play-state: paused;
} */