.main {
  min-height: 100vh;
  padding: 0 4rem 4rem 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.productImagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productDescriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.recommendationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}